<!-- loading -->
<div *ngIf="loading" class="loading-screen">

  <img src="cs2.png" class="loading-logo">

  <div class="spinner"></div>

  <p>Conectando al servidor...</p>

</div>


<!--Inicio-->
<div class="estilo-form" *ngIf="!loading">
  <h2>Ingresa Arma</h2>
  <form [formGroup]="armaForm" (ngSubmit)="guardar()">

    <!-- div de input de buscar skin -->
    <div class="form-group position-relative">
      <label>Busca una skin</label>

      <input type="text" class="form-control" [value]="busquedaActual" (input)="filtrarSkins($event)"
        placeholder="Selecciona una skin..." autocomplete="off">

      <div class="lista-skins" *ngIf="busquedaActual.length > 0 && skinsFiltradas.length > 0">
        <div *ngFor="let item of skinsFiltradas" class="skin-item" (click)="seleccionarSkin(item)">
          {{item.nombre}}
        </div>
      </div>

      <div *ngIf="armaForm.get('skin')?.touched && armaForm.get('skin')?.invalid" class="text-danger">
        Debes seleccionar una skin
      </div>

    </div>


    <!-- div de input de url de imagen -->
    <div class="form-group">
      <div class="label-container">
          <label>URL de Imagen </label>
          
          <!-- bubble text de informacion para pegar url de imagen de -->
          <button type="button"
            class="info-btn"
            (click)="toggleInfo($event)">
              i
          </button>

          <div class="info-popup" *ngIf="mostrarInfo" (click)="$event.stopPropagation()">
            <p><strong>¿Cómo obtener la URL correcta?</strong></p>
            <p>
              1. Copia y googlea la skin del 1er campo
            </p>
            <p>
              2. Ingresa a los links de cs.money o csgoskins.gg
            </p>
            <p>
              3. Haz click derecho sobre la imagen
            </p>
            <p>
              4. Copia la dirección de imagen
            </p>
          </div>
        </div>

      <input placeholder="Pega aquí la dirección de imagen..." type="text" formControlName="imagenUrl" class="form-control"
        [ngClass]="{'is-invalid': armaForm.get('imagenUrl')?.errors?.['required']}">

      <div *ngIf="armaForm.get('imagenUrl')?.touched">
        <small *ngIf="armaForm.get('imagenUrl')?.errors?.['required']" class="text-danger">
          La URL es obligatoria
        </small>

        <small *ngIf="armaForm.get('imagenUrl')?.errors?.['pattern']" class="text-danger">
          Debe ser una URL válida (http/https)
        </small>
      </div>

      <div *ngIf="armaForm.get('imagenUrl')?.value">
        <img [src]="armaForm.get('imagenUrl')?.value" (error)="onImageError($event)" alt="preview"
          style="max-width: 200px; margin-top: 10px; border-radius: 8px;">
      </div>

    </div>


    <!-- div de checkbox stattrak -->
    <div class="form-group">
      <label class="cursiva">
        StatTrak™
        <input type="checkbox" formControlName="statTrak">
      </label>
    </div>


     <!-- div de input nombre -->
    <div class="form-group">
      <label>Asignar nombre</label>
      <input placeholder="Ponle el nombre que gustes..." type="text" formControlName="nombre" class="form-control" [ngClass]="{
      'is-invalid': armaForm.get('nombre')?.touched && armaForm.get('nombre')?.invalid
      }">

      <div *ngIf="armaForm.get('nombre')?.touched && armaForm.get('nombre')?.invalid" class="text-danger">
        El nombre es obligatorio
      </div>
    </div>

    <!-- div de categoria (colores) -->
    <div class="form-group">
      <label>Categoria</label>

      <div class="d-flex gap-2 flex-wrap">
        <div *ngFor="let cat of categorias" class="form-color" (click)="seleccionarCategoria(cat)" [ngStyle]="{
            'background-color': getColor(cat.nombre),
            'border': armaForm.get('categoria')?.value == cat.id ? '3px solid black' : '1px solid #ccc'
            }" style="
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
            " title="{{cat.nombre}}">
        </div>
      </div>

      <div *ngIf="armaForm.get('categoria')?.touched && armaForm.get('categoria')?.invalid" class="text-danger">
        Debes seleccionar una categoría
      </div>
    </div>

    <button type="submit" class="btn btn-warning form-group" [disabled]="armaForm.invalid">Guardar</button>

  </form>
</div>
