/* You can add global styles to this file, and also import other style files */
/* Global */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {

  color: white;

  font-family: Arial, Helvetica, sans-serif;

  background:
    radial-gradient(
      circle at top,
      #3d3d3d 0%,
      #1b1b1b 70%
    );

  background-attachment: fixed;
}