/* You can add global styles to this file, and also import other style files */
* {

  box-sizing: border-box;

}


body {


  margin: 0;

  color: white;

  background:
    linear-gradient(
      180deg,
      #353535 0%,
      #2a2a2a 35%,
      #1d1d1d 100%
    );

  min-height: 100vh;

  font-family: Arial, Helvetica, sans-serif;

  background:
  radial-gradient(circle at top, #3d3d3d 0%, #1b1b1b 70%);

}

